<div class="td-page-blog-meta ml-2 pb-1 pt-2 mb-4">
  {{ with site.Home.OutputFormats.Get "rss" -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ site.Title }}">
  <a class="widget-link" href="{{ .Permalink | safeURL }}"><div> <i class="fas fa-rss fab-icon"> </i> <span class="widget-link-text">RSS Feed</span></div> </a>
  {{ end -}}
  <a class="widget-link" href="https://stackoverflow.com/questions/tagged/PlaidCloud"><div><i class="fab fa-stack-overflow fab-icon"></i> <span class="widget-link-text"> Overflow</span></div></a>
  {{ with .CurrentSection.AlternativeOutputFormats.Get "print" }}
    <a id="print" href="{{ .Permalink | safeURL }}"><i class="fa fa-print fa-fw"></i> {{ T "print_entire_section" }}</a>
  {{ end }}
</div>
