---
title: "PlaidCloud Guide"
abstract: "Financial analytics platform for data enrichment, data warehousing, machine learning, and business intelligence designed for business users to get stuff done"
cid: home
sitemap:
  priority: 1.0
---

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}
#### Get stuff done now!

PlaidCloud is a unified financial analytics platform for automating data collection/enrichment, analytics, data warehousing, 
business intelligence and management of solutions for business users to get stuff done.  

This builds on 15 years of experience with financial analytics workloads for solutions such as transfer pricing, 
activity based costing, profitability, costing, bill-of-materials costing, shared service chargeback, supply chain monitoring & optimization, and many others.

{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### Planet Scale

Include all stakeholders globally with clear isolation for teams where needed while allowing collaboration across the organization. 
Never worry about scalability or processing since it is all handled by our smart AI that makes sure you always have the resources you need.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### Never Outgrow

Whether an individual, team, or running a global enterprise, PlaidCloud's flexibility grows with you to deliver your analytics 
consistently and easily no matter how complex your need is.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### Interact with PlaidCloud Anywhere

PlaidCloud is an open platform giving you the freedom to interact with it from other systems and processes, letting you manage 
and migrate processes where it makes the most sense for you.

{{% /blocks/feature %}}

{{< /blocks/section >}}
